$main-color: #a7be16;
$title-color: #21aec5;

a {
  text-decoration: none;
}

.lighten-2, .v-app-bar {
  background-color: $main-color !important;
}

.character-item {
  border: 1px solid #a7be16;
  border-radius: 5px;
}

.v-main__wrap {
  background-color: #fffeef;
}
