<template>
  <div class="detail-page">
    <router-link :to="{ name: 'ROUTE_CHARACTERS'}">
      К списку
    </router-link>
    <h1>{{ character.name }}</h1>
    <v-row class="detail-page__inner">
      <v-img :src="character.image"/>
      <div class="detail-page__info">
        <div>
          Статус: {{ character.status }}
        </div>
        <div>
          Пол: {{ character.gender }}
        </div>
        <div>
          Вид: {{ character.species }}
        </div>
        Серии с участием персонажа:
        <div class="episode_list">
            <router-link v-for="episode in character.episode" :key="episode.id" :to="{ name: 'ROUTE_EPISODE', params: {id: episode.id} }">
              {{ episode.name }}
            </router-link>
        </div>
      </div>
    </v-row>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'Character',
  props: {
    data: {
      required: true
    }
  },
  computed: {
    character () {
      if (this.data) {
        // @ts-ignore
        return this.data.character;
      }
      return null;
    }
  }
})
</script>

<style lang="scss" scoped>
@media (min-width: 961px) {
  .detail-page__info {
    margin-left: 25px;
    width: 50%;
  }

  .detail-page__inner {
    margin-top: 10px;
  }

  .v-image {
    max-width: 50%;
  }
}

.episode_list {
  a {
    margin-right: 10px;
  }
}
</style>
