<template>
  <div>
    <h1>Персонажи сериала «Рик и Морти»</h1>
    <slot/>
    <div v-if="show" class="characters">
      <v-card
          v-for="(character, i) in data.characters.results"
          :key="i"
          class="character-item ma-4"
          max-width="244"
      >
        <router-link :to="$route.path + '/' + character.id">
          <div>
            <v-img :src="character.image"/>
            <div class="ma-4">
              {{ character.name }}
              <div>
                Статус: {{ character.status }}
              </div>
              <div v-if="character.gender">
                Пол: {{ character.gender }}
              </div>
              <div>
                Вид: {{ character.species }}
              </div>
            </div>
          </div>
        </router-link>
      </v-card>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'CharacterList',
  props: {
    data: {
      required: true
    }
  },
  computed: {
    show () {
      try {
        // @ts-ignore
        if (this.data.characters.results.length) {
          return true;
        }
      } catch (e) {
        console.log('error load', e);
      }
      return false;
    }
  }
})
</script>

<style lang="scss" scoped>
h1 {
  margin-bottom: 10px;
}

.characters {
  display: table;

  .character-item {
    display: inline-block;
  }
}
</style>
