<template>
  <v-sheet
      class="mx-auto"
      elevation="6"
  >
    <v-slide-group
        v-model="model"
        class="pa-4"
        active-class="success"
        show-arrows="always"
    >
      <v-slide-item
          v-for="(slide, i) in sliders"
          :key="i"
      >
        <v-card
            class="character-item ma-4"
        >
          <router-link :to="url + '/' + slide.id">
            <div>
              <v-img :src="slide.image"/>
              {{ slide.name }}
            </div>
          </router-link>
        </v-card>
      </v-slide-item>
    </v-slide-group>
  </v-sheet>
</template>

<script lang="ts">
  import Vue from 'vue'

  export default Vue.extend({
    name: 'Slider',

    props: {
      sliders: {
        required: true
      },
      url: {
        required: true
      }
    },

    data: () => ({
      model: null
    }),
  })
</script>
<style lang="scss" scoped>
@import 'src/assets/scss/index.scss';

.v-item-group {
  border: 1px solid $main-color;
  border-radius: 5px;
}

.character-item {
  max-width: 224px;
}
</style>
