<template>
  <div class="detail-page">
    <router-link :to="{ name: 'ROUTE_EPISODES'}">
      К списку
    </router-link>
    <h1>Серия {{ episode.name }}</h1>
    <v-row class="detail-page__inner">
      <div>
        <div>
          {{ episode.episode }}
        </div>
        Дата релиза:
        <span>
          {{ episode.air_date }}
        </span>
      </div>
      <div class="episode_list">
        Список персонажей:

        <router-link
            v-for="character in episode.characters"
            :key="character.id"
            :to="{ name: 'ROUTE_CHARACTER', params: {id: character.id} }"
        >
          {{ character.name }}
        </router-link>
      </div>
    </v-row>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'Episode',
  props: {
    data: {
      required: true
    }
  },
  computed: {
    episode() {
      if (this.data) {
        // @ts-ignore
        return this.data.episode;
      }
      return null;
    }
  }
})
</script>

<style lang="scss" scoped>

</style>
