<template>
  <div>
    <h1>Список серий</h1>
    <slot/>
    <table class="episodes">
      <thead>
        <tr>
          <td>
            Название
          </td>
          <td>
            Дата релиза
          </td>
        </tr>
      </thead>
      <tr class="episode" v-for="(location, id) in data.episodes.results" :key="id">
        <td>
          <router-link :to="$route.path+'/'+location.id">
            <div class="episode__title">
              {{ location.episode }}: {{ location.name }}
            </div>
          </router-link>
        </td>
        <td>
          {{ location.air_date }}
        </td>

      </tr>
    </table>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'EpisodeList',
  props: {
    data: {
      required: true
    }
  }
})
</script>

<style lang="scss" scoped>
.episode {
  margin: 10px;
  border-radius: 6px;
  padding: 20px 10px;
  padding-left: 0;
  cursor: pointer;

  &__dimension {
    display: inline-grid;
  }

  &__title {
    justify-content: center;
    text-align: center;
    display: block;
    font-size: 18px;
    color: #333230;
    max-width: 200px;
    margin: auto;
    margin-right: 10px;
    padding: 7px;
    line-height: 20px;
    min-height: 55px;
  }
}

<
/
style >

