<template>
  <keep-alive>
    <Loader :query="query" :variables="variables">
      <template slot-scope="{data}">
        <component :is="component" :data="data">
          <v-row>
            <v-text-field v-model="person" placeholder="Имя персонажа"/>
            <v-select @change="status = $event" :items="statuses" label="Выберите статус персонажа"/>
          </v-row>
        </component>
      </template>
    </Loader>
  </keep-alive>
</template>

<script lang="ts">
import {GET_CHARACTERS, GET_CHARACTER} from '@/queries';

import Vue from 'vue'
// @ts-ignore
import Loader from "@/components/Utils/Loader";

export default Vue.extend({
  name: 'Characters',
  components: {
    Loader
  },
  data() {
    return {
      person: '',
      status: 'Alive',
      statuses: ['Alive', 'Dead', 'unknown']
    };
  },
  computed: {
    personSimple() {
      // @ts-ignore
      return this.person.toLowerCase()
    },
    component() {
      if (!this.$route.params.id) {
        // @ts-ignore
        return () => import('@/components/Character/List')
      } else {
        // @ts-ignore
        return () => import('@/components/Character/')
      }
    },
    query() {
      if (!this.$route.params.id) {
        return GET_CHARACTERS
      } else {
        return GET_CHARACTER
      }
    },
    variables() {
      if (this.$route.params.id) {
        return {'id': this.$route.params.id}
      }
      // @ts-ignore
      return {'name': this.personSimple, 'status': this.status}
    }
  }
})
</script>
<style lang="scss" scoped>
::v-deep {
  .v-input__slot {
    margin-right: 10px;
  }
}

</style>
