<template>
  <Loader :query="query" :variables="variables">
    <template slot-scope="{data}">
      <component :is="component" :data="data">
        <v-row>
          <v-select @change="season = $event" :items="seasons" label="Выберите сезон"/>
          <v-text-field v-model="episode" placeholder="Введите название серии"/>
        </v-row>
      </component>
    </template>
  </Loader>
</template>

<script lang="ts">
import {Vue} from "vue-property-decorator";

import {GET_EPISODE, GET_EPISODES} from '@/queries'

// @ts-ignore
import Loader from "@/components/Utils/Loader";

export default Vue.extend({
  name: 'Locations',
  components: {
    Loader
  },
  data() {
    return {
      episode: '',
      seasons: ['S01', 'S02', 'S03'],
      season: 'S01'
    };
  },
  computed: {
    query() {
      if (!this.$route.params.id) {
        return GET_EPISODES
      } else {
        return GET_EPISODE
      }
    },
    variables() {
      if (this.$route.params.id) {
        return {'id': this.$route.params.id}
      }
      // @ts-ignore
      return {'name': this.episode.toLowerCase(), 'episode': this.season}
    },
    component() {
      if (!this.$route.params.id) {
        // @ts-ignore
        return () => import('@/components/Episode/List')
      } else {
        // @ts-ignore
        return () => import('@/components/Episode/')
      }
    }
  }
});

</script>

