<template>
  <div>
    <Loader :query="query">
      <template slot-scope="{data}">
        <h1>Сериал «Рик и Морти»</h1>
        <div>
          <div class="title">О сериале</div>
          <v-card>
            <div class="about pa-4">
              <div class="">
                «Рик и Морти» (англ. Rick and Morty) — американский комедийный
                научно-фантастический анимационный сериал, созданный Джастином Ройландом и Дэном Хармоном и
                выпускаемый в рамках блока Adult Swim на телеканале Cartoon Network.
                Премьера сериала состоялась в декабре 2013 года; второй сезон вышел в 2015.
              </div>
            </div>
          </v-card>
          <div class="title">Персонажи</div>
          <slider :url="'characters'" :sliders="data.characters.results"/>
        </div>
      </template>
    </Loader>
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
// @ts-ignore
import Slider from "@/components/Character/Slider";
// @ts-ignore
import Loader from "@/components/Utils/Loader";

import {GET_CHARACTERS} from "@/queries";

export default Vue.extend({
  name: 'Home',
  components: {
    Slider,
    Loader
  },
  data() {
    return {
      model: null,
      query: GET_CHARACTERS
    };
  }
})
</script>
