<template>
  <Loader :query="query" :variables="{'page': page, 'name': locationSimple}">
    <template scope="{data}">
      <h1>Локации</h1>
      <v-text-field v-model="location" placeholder="Поиск"/>
      <div class="locations">
        <div class="location" v-for="(location, id) in data.locations.results" :key="id">
          <router-link :to="$route.path+'/'+location.id" class="location__title">
            {{ location.name }}
          </router-link>

          <div>
            <label for="dimension">
              тип:
            </label>
            <span id="type">
                {{ location.type }}
              </span>
          </div>

          <div class="location__dimension">
            <label for="dimension">
              измерение:
            </label>
            <span id="dimension">
                {{ location.dimension }}
              </span>
          </div>
        </div>
      </div>
      <v-pagination
          v-if="countPages(data.locations.info.count) > 1"
          v-model="page"
          :length="countPages(data.locations.info.count)"
      />
    </template>
  </Loader>
</template>

<script lang="ts">
import {Vue} from "vue-property-decorator";

import {GET_LOCATIONS} from '@/queries'

// @ts-ignore
import Loader from "@/components/Utils/Loader";

export default Vue.extend({
  name: 'Locations',
  components: {
    Loader
  },
  data() {
    return {
      query: GET_LOCATIONS,
      page: 1,
      count: 20,
      location: '',
      hasSaved: false
    };
  },
  computed: {
    locationSimple() {
      // @ts-ignore
      return this.location.toLowerCase()
    }
  },
  methods: {
    countPages(count: number) {
      // @ts-ignore
      return Math.ceil(count / this.count);
    }
  }
});

</script>

<style lang="scss" scoped>
.locations {
  display: table;
}

.location {
  display: inline-block;
  min-width: 23%;
  margin: 10px;
  border: 0.5px solid #D9D9D9;
  border-radius: 6px;
  padding: 20px 10px;
  cursor: pointer;

  &__dimension {
    display: inline-grid;
  }

  &__title {
    justify-content: center;
    text-align: center;
    display: block;
    font-size: 18px;
    color: #333230;
    max-width: 200px;
    margin: auto;
    padding: 7px;
    line-height: 20px;
    min-height: 55px;
  }
}
</style>
