<template>
  <v-footer padless>
    <v-row justify="center" no-gutters>
      <v-col
          class="lighten-2 py-4 text-center white--text"
          cols="12"
      >
        © {{ new Date().getFullYear() }} Copyright "YuraZav" - на интернет-ресурсе
        представлен каталог серий, персонажей и локаций мультсериала Rick and Morty.
      </v-col>
    </v-row>
  </v-footer>
</template>

<script lang="ts">

import Vue from 'vue'

export default Vue.extend({
  name: 'Footer'
})
</script>

<style lang="scss" scoped>
@import 'src/assets/scss/index.scss';
</style>

