<template>
  <v-app-bar app>
    <v-container>
      <div class="flex d-flex align-center">
        <div class="d-flex align-center">
          <router-link to="/">
            <v-img
                alt="Rick&Morty"
                class="shrink mt-1 hidden-sm-and-down"
                contain
                min-width="100"
                :src="require('/src/assets/Rickandmortylogo.png')"
                width="100"
            />
          </router-link>
        </div>

        <v-spacer/>
        <v-navigation-drawer color="transparent" permanent border>
          <v-list dense nav>
            <!--          TODO: router-->
            <v-list-item link>
              <v-list-item-content>
                <v-list-item-title>
                  <router-link :to="{ name: 'ROUTE_EPISODES'}">Серии</router-link>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item link>
              <v-list-item-content>
                <v-list-item-title>
                  <router-link :to="{ name: 'ROUTE_CHARACTERS'}">Персонажи</router-link>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item link>

              <v-list-item-content>
                <v-list-item-title>
                  <router-link :to="{ name: 'ROUTE_LOCATIONS'}">Локации</router-link>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>
      </div>
    </v-container>

  </v-app-bar>
</template>

<script lang="ts">

import Vue from 'vue'

export default Vue.extend({
  name: 'Header'
})
</script>

<style lang="scss" scoped>
@import 'src/assets/scss/index.scss';

::v-deep {
  .v-navigation-drawer {
    width: auto !important;

    &__border {
      width: 0px!important;
    }
  }

  .v-list--nav .v-list-item {
    color: #21aec5;
    border-radius: 0;
    border-right: 1px solid #21aec5;

    &:last-child {
      border-right: none;
    }

    &__title a {
      //color: #21aec5 !important;
    }
  }
}
</style>
