<template>
  <v-app>
    <header-component/>
    <v-main>
      <v-container>
        <router-view/>
      </v-container>
    </v-main>
    <footer-component/>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import HeaderComponent from "@/components/Header.vue";
import FooterComponent from "@/components/Footer.vue";

export default Vue.extend({
  name: 'App',
  components: {
    HeaderComponent,
    FooterComponent
  }
});
</script>
<style lang="scss" scoped>
::v-deep {
  .v-navigation-drawer__content {
    overflow: initial;
  }

  .v-list--nav {
    display: flex;

    .v-list-item__title a{
      color: white;
      font-size: 15px;
    }
  }
}
</style>
