<template>
  <ApolloQuery :query="query" :variables="variables">
<!--    получение данных из graphQL-->
    <template slot-scope="{ result: { loading, error, data } }">
<!--      <span v-if="error"></span>-->
      <span v-if="loading">Loading...</span>
<!--      передача данных на вывод-->
      <slot v-else-if="checkResult(data, error)" :data="data"/>
    </template>
  </ApolloQuery>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'Loader',
  props: {
    query: {
      required: true
    },
    variables: {}
  },
  methods: {
    checkResult() {
      return true;
    }
  }
})
</script>
